body {
    margin: 0px;
    padding: 0px;
  }
  
  /* Navigation div Index */
  .top-div {
    background-color: red;
    width: 100vw;
    height: 50vh;
  }
  
  .top-div ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-div ul li {
    list-style-type: none;
    display: inline-block;
    margin: 2%;
    font-size: 2rem;
  }
  
  .top-div ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease 0s;
    
  }
  
  .top-div ul li a:hover {
    color: blue;
    text-decoration: underline;
  }
  
  /* Navigation div Index page 2 */
  
  .secondtop-div {
    background-color: aquamarine;
    width: 100vw;
    height: 300px;
  }
  
  .secondtop-div ul {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
  }
  
  .secondtop-div ul li {
    list-style-type: none;
    /*display: inline-block;*/
    margin: 2%;
    font-size: 2rem;
  }
  
  .secondtop-div ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease 0s;
  }
  
  .secondtop-div ul li a:hover {
    color: blue;
    text-decoration: underline;
  }
  
  /* Body Divs */
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div1 {
    background-color: blue;
    height: 300px;
    width: 50vw;
  }
  
  .div1 > img {
    max-width: 28.1rem;
    max-height: 28.1rem;
  }
  
  .div2 {
    background-color: orange;
    height: 300px;
    width: 50vw;
  }
  
  .footer {
    background-color: chocolate;
    width: 100vw;
    height: 200px;
  }
  
  h1 {
    color: brown;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  h2 {
    color: aqua;
  }